In [1]:
"Siva Siva"

'Siva Siva'

In [2]:
#Reorder logic

# def predict_demand():
    #Predict demand should be initialized within in a certain time in a periodic interval, for now say 12.00

    #the product from the predicted demand should be limited as it should be sufficient for a certain time interval, say for a 2 weeks.

    #Predict demand from demand forecasting with product

    #order from multiple model, say from neural prophet, bilstm + cnn

    #then compare, if all these model say for reorder, then init the order..

    #convert to call reorder function

    #in reorder.. trigger the agent for mail automation

    #an separate id each product to send the mail

    #Message inference saver for real time check and inference

In [11]:
# predict demand(store, item) -> compare with reorder_threshold -> if true: automate email, send conformation to manager
# else wait for some time, 
# check for arrival with qr logic.. if arrived, update with db
# product update with billing system
# inference per day for each order..
# certain time rescheduler - completed
# scheduler trigger
# user interface with streamlit or some other ..

In [ ]:
# db retrieval -> check for reorder -> retrieve_email -> sample.py

In [70]:
lists = [[8, 52, 'siddharth.sulur@gmail.com', 'Soap'], [10, 51, 'gokulrajtvm05@gmail.com', 'Shampoo'],
          [13, 53, 'madhavan86776@gmail.com', 'Toothpaste'], [15, 54, 'siddharth.sulur@gmail.com', 'Toothbrush'], 
          [18, 57, 'madhavan07vk@gmail.com', 'Face Wash'], [22, 55, 'siddharth.sulur@gmail.com', 'Hair Oil'], 
          [25, 51, 'siddharthsridhar2006@gmail.com', 'Comb'], [28, 58, 'siddharthsridhar2006@gmail.com', 'Sanitary Napkins'], 
          [36, 51, 'gokulrajtvm05@gmail.com', 'Hand Sanitizer'], [38, 53, 'aravindhnov05@gmail.com', 'Detergent Powder'], 
          [45, 52, 'madhavan07vk@gmail.com', 'Detergent Bar']]

In [71]:
import pandas as pd

In [ ]:
demand_df = pd.DataFrame(lists, columns = ["id", "quantity", "email_id", "product_name"])

   id  quantity                   email_id product_name
0   8        52  siddharth.sulur@gmail.com         Soap
1  10        51    gokulrajtvm05@gmail.com      Shampoo
2  13        53    madhavan86776@gmail.com   Toothpaste
3  15        54  siddharth.sulur@gmail.com   Toothbrush
4  18        57     madhavan07vk@gmail.com    Face Wash

In [81]:
demand_df

    id  quantity                        email_id      product_name
0    8        52       siddharth.sulur@gmail.com              Soap
1   10        51         gokulrajtvm05@gmail.com           Shampoo
2   13        53         madhavan86776@gmail.com        Toothpaste
3   15        54       siddharth.sulur@gmail.com        Toothbrush
4   18        57          madhavan07vk@gmail.com         Face Wash
5   22        55       siddharth.sulur@gmail.com          Hair Oil
6   25        51  siddharthsridhar2006@gmail.com              Comb
7   28        58  siddharthsridhar2006@gmail.com  Sanitary Napkins
8   36        51         gokulrajtvm05@gmail.com    Hand Sanitizer
9   38        53         aravindhnov05@gmail.com  Detergent Powder
10  45        52          madhavan07vk@gmail.com     Detergent Bar

In [83]:
grouped_df = demand_df.groupby("email_id").agg({
    "product_name": lambda x: ', '.join(x),
    "quantity": list 
}).reset_index()

grouped_df

                         email_id                product_name      quantity
0         aravindhnov05@gmail.com            Detergent Powder          [53]
1         gokulrajtvm05@gmail.com     Shampoo, Hand Sanitizer      [51, 51]
2          madhavan07vk@gmail.com    Face Wash, Detergent Bar      [57, 52]
3         madhavan86776@gmail.com                  Toothpaste          [53]
4       siddharth.sulur@gmail.com  Soap, Toothbrush, Hair Oil  [52, 54, 55]
5  siddharthsridhar2006@gmail.com      Comb, Sanitary Napkins      [51, 58]