In [1]:
import sqlite3
con = sqlite3.connect("tutorial.db")

In [2]:
c = con.cursor()

In [3]:
c.execute('''
    CREATE TABLE IF NOT EXISTS hotel (
        FIND INTEGER PRIMARY KEY NOT NULL,
        FNAME TEXT NOT NULL,
        COST INTEGER NOT NULL,
        WEIGHT INTEGER
    )
''')

# Insert records
c.execute("INSERT INTO hotel (FIND, FNAME, COST, WEIGHT) VALUES (1, 'Cakes', 800, 10)")
c.execute("INSERT INTO hotel (FIND, FNAME, COST, WEIGHT) VALUES (2, 'Biscuits', 100, 20)")
c.execute("INSERT INTO hotel (FIND, FNAME, COST, WEIGHT) VALUES (3, 'Chocos', 1000, 30)")

con.commit()
print("Data inserted successfully.")

Data inserted successfully.

In [7]:
c.execute("select * from hotel")

In [8]:
rows = c.fetchall()
rows

[(1, 'Cakes', 800, 10), (2, 'Biscuits', 100, 20), (3, 'Chocos', 1000, 30)]

In [9]:
for row in rows:
    print(f"Food ID: {row[0]}, Name: {row[1]}, Cost: {row[2]}, Weight: {row[3]}")

Food ID: 1, Name: Cakes, Cost: 800, Weight: 10
Food ID: 2, Name: Biscuits, Cost: 100, Weight: 20
Food ID: 3, Name: Chocos, Cost: 1000, Weight: 30

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("A:/spark_data/train.csv")

In [3]:
df.columns

Index(['date', 'store', 'item', 'sales'], dtype='object')

In [4]:
df["item"].value_counts

<bound method IndexOpsMixin.value_counts of 0          1
1          1
2          1
3          1
4          1
          ..
912995    50
912996    50
912997    50
912998    50
912999    50
Name: item, Length: 913000, dtype: int64>